.unauth-decor{position:fixed; display:table; top:0px; right:0px; width:50%; height:100vh; background:$inverse-color;}
.unauth-decor .logo{display:table-cell; vertical-align:middle; text-align:center;}
.unauth-decor .logo img{width:125px; filter:invert(100%); transform:rotate(45deg);}
.unauth-decor .logo span{font-size:200px; color:$primary-color;}

@media (max-width:$ipad-landscape-width)
{
    .unauth-decor .logo span{font-size:125px;}
}

.unauth-form{position:static; display:table; width:calc(50% - 100px); height:calc(100vh - 100px); margin:0px 50% 0px 0px; padding:50px;}
.unauth-form-container{display:table-cell; vertical-align:middle; text-align:center;}

.unauth-form-container .input-container,
.unauth-form-container .title-container,
.unauth-form-container button,
.unauth-form-container .submit-button,
.unauth-form-container .alerts,
.unauth-form-container .grid{max-width:500px;}

@media (max-width:$ipad-portrait-width)
{
    .unauth-decor{width:100%; height:225px;}
    .unauth-form{margin:225px 0px 0px 0px; height:auto; width:calc(100% - 100px);}
}

@media (max-width:$iphone-width)
{
    .unauth-form{width:calc(100% - 60px); padding:30px;}
}
