.data .chart{position:static; padding:10px;}

/* APEX CHART CUSTOMIZATIONS */
.apexcharts-legend-text{color:$primary-color !important; text-transform:capitalize !important;}
.apexcharts-menu-icon{display:none !important;}
.apexcharts-yaxis-texts-g text,.apexcharts-xaxis-texts-g text,.apexcharts-xaxis-inversed-texts-g text,.apexcharts-yaxis-inversed-texts-g text{fill:$primary-color !important; color:$primary-color !important;}

.apexcharts-gridlines-vertical line,
.apexcharts-gridlines-horizontal line{stroke:rgba($primary-color,0.1) !important;}
