.grid{width:100%; display:grid; grid-gap:25px; margin-bottom:25px;}
.grid.six{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;}
.grid.five{grid-template-columns:1fr 1fr 1fr 1fr 1fr;}
.grid.four{grid-template-columns:1fr 1fr 1fr 1fr;}
.grid.three{grid-template-columns:1fr 1fr 1fr;}
.grid.two{grid-template-columns:1fr 1fr;}
.grid.one{grid-template-columns:1fr;}

@media (max-width:$ipad-landscape-width)
{
    .grid.four,
    .grid.five,
    .grid.six{grid-template-columns:1fr 1fr 1fr;}
}

@media (max-width:$ipad-portrait-width)
{
    .grid.four,
    .grid.five,
    .grid.six{grid-template-columns:1fr 1fr;}
    .grid.two,
    .grid.three{grid-template-columns:1fr;}
}

.grid.form{margin-bottom:0px; grid-gap:15px;}
.grid.collapsed{margin-bottom:0px; grid-gap:0px;}
.grid.collapsed .input-container:first-of-type{border-radius:$border-radius 0px 0px $border-radius;}
.grid.collapsed .input-container:last-of-type{border-radius:0px $border-radius $border-radius 0px;}
.grid.form .input-container{margin-bottom:0px;}
.grid.form.two,
.grid.form.three,
.grid.form.four,
.grid.form.five,
.grid.form.six{margin-bottom:15px;}

@media (max-width:$ipad-portrait-width)
{
    .grid{grid-gap:10px;}
}
