.table{display:table; width:100%; border-radius:$border-radius; background:$inverse-color; margin-bottom:25px;}
.table:last-of-type{margin-bottom:0px;}
.table .row{display:table-row;}
.table .row.sortable .cell:not(.buttons),
.table .row.sortable .cell:not(.buttons) a{cursor:s-resize; color:rgba($primary-color,0.8);}
.table .row.sortable .cell:not(.buttons) span,
.table .row.sortable .cell:not(.buttons) a span{display:inline-block; margin-left:5px; pointer-events:none; opacity:0; transition:$fast-transition;}
.table .row.sortable .cell:not(.buttons).active span,
.table .row.sortable .cell:not(.buttons) a.active span,
.table .row.sortable .cell:not(.buttons):hover span,
.table .row.sortable .cell:not(.buttons) a:hover span,
.table .row.sortable .cell:not(.buttons):focus span,
.table .row.sortable .cell:not(.buttons) a:focus span{pointer-events:auto; opacity:1;}
.table .cell{display:table-cell; vertical-align:middle; text-align:left; padding:15px; color:$primary-color; border-top:1px solid rgba($primary-color,0.1); font-size:14px; font-family:$main-font; white-space:nowrap;}
.table .row.sortable-chosen{cursor:grab;}
.table .cell.buttons{display:table-cell !important; padding:15px 5px;}
.photo-column{width:100px;}
.photo-column img{width:100%; margin-bottom:-5px; border-radius:$border-radius;}
.table .cell .no-photo{display:block; border:1px solid rgba($primary-color,0.1); font-size:18px; background:$core-bg; height:60px; line-height:60px; text-align:center; color:$primary-color; border-radius:$border-radius;}
.table.list .row:first-of-type .cell,
.table.list .row:first-of-type .cell a{font-size:11px; color:rgba($primary-color,0.8); text-transform:uppercase; letter-spacing:2px;}
.table.list .row:first-of-type .cell:not(.buttons) span{margin-left:5px;}
.table.singular .cell{padding:25px;}
.table .cell.accent{font-family:$accent-font; font-size:0.75em;}
.table .cell b{display:block;}
.table .cell p{line-height:1.75em;}
.table .cell .link{color:$primary-color; border-bottom:1px solid $primary-color;}
.table .cell .link:hover,
.table .cell .link:focus{border-color:transparent;}
.table .cell.big-words{font-size:24px;}
.table .row:first-of-type .cell{border-width:0px;}
.table .cell:last-of-type{display:table-cell !important;}
.table .row .cell button{border:1px solid $primary-color; background:transparent; padding:10px !important; text-transform:none; font-size:$mobile-font-size;}
.table .row .cell button:hover span{margin-left:5px;}
.table .row .cell button:hover{padding:10px !important; border-color:rgba($primary-color,0.5);}

/* THE BELOW TBODY FIXES ARE DESIGNED SPECIFICALLY FOR INTRA-TABLE DRAG-AND-DROP SORTING */

.table tbody .row.sortable-chosen .cell{background:rgba($primary-color,0.1); }
.table tbody .row:first-of-type .cell{border-top:1px solid rgba($primary-color,0.1) !important;}
.table.list tbody .row:first-of-type .cell:not(.buttons),
.table.list tbody .row:first-of-type .cell:not(.buttons) a{text-transform:none; font-size:14px; letter-spacing:normal; padding:15px; color:$primary-color;}
.table.list tbody .row:first-of-type .cell:not(.buttons) a{padding:0px;}
.table.list tbody .row:first-of-type .cell:not(.buttons) span{margin-left:0px;}
.table.list tbody .row:first-of-type .cell.buttons .button{font-size:16px; color:$primary-color;}
.table .row:first-of-type .cell.buttons a.button span{font-size:16px; line-height:35px;}

/* END SPECIAL TBODY SORTING CODE */

.cell-wrapper{display:inline-block; white-space:nowrap; text-overflow:ellipsis; max-width:350px; overflow:hidden;}
.table .cell.accent .cell-wrapper{white-space:normal; max-width:none;}

@media (max-width:$ipad-landscape-width)
{
    .table.singular .cell{padding:15px;}
}

@media (max-width:$ipad-portrait-width)
{
    .table .cell,
    .table.list tbody .row:first-of-type .cell:not(.buttons){font-size:$mobile-font-size !important;}

    .table.list .row:first-of-type .cell{font-size:calc($mobile-font-size - 3px) !important;}

    .table .cell.accent{font-size:calc($mobile-font-size - 3px) !important;}

    .table.singular .cell{padding:15px;}
}

@media (max-width:$iphone-width)
{
    .table .cell,
    .table.list tbody .row:first-of-type .cell:not(.buttons),
    .table.list tbody .row:first-of-type .cell:not(.buttons) a,
    .cell.buttons .button span{font-size:calc($mobile-font-size - 2px) !important;}
    .row .cell:first-of-type .cell-wrapper{max-width:200px;}

    .table.list .row:first-of-type .cell{font-size:10px !important; letter-spacing:0.5px;}
}

.no-results{z-index:1; position:relative; width:calc(100% - 50px); background:$inverse-color; border-radius:$border-radius; margin-bottom:25px; padding:100px 25px 35px 25px; color:$primary-color; text-align:center; overflow:hidden;}
.no-results p{line-height:1.5em; font-size:13px; letter-spacing:1.25px; text-transform:uppercase;}
.no-results span{z-index:-1; position:absolute; top:-30px; left:calc(50% - 65px); font-size:130px; color:rgba($primary-color,0.25);}

@media (max-width:$iphone-width)
{
    .no-results p{font-size:11px; letter-spacing:0.5px;}
}

.paginate{display:table; width:100%; padding:25px 0px 10px 0px;}
.paginate .left-links{display:table-cell; vertical-align:middle; text-align:left; width:40px;}
.paginate .center-links{display:table-cell; vertical-align:middle; text-align:center; padding:0px 25px;}
.paginate .right-links{display:table-cell; vertical-align:middle; text-align:right; width:40px;}
.paginate a{display:inline-block; margin:2.5px; background:rgba($primary-color,0.1); color:$primary-color; min-width:20px; line-height:20px; border-radius:20px; font-size:11.5px;}
.paginate .right-links a,
.paginate .left-links a{padding:0px 5px;}
.paginate a:hover,
.paginate a.active{background:rgba($primary-color,0.25);}
.paginate a.disabled{color:rgba($core-bg,0.2); cursor:not-allowed;}

.table-scroll-wrapper{overflow-x:scroll;}

.cell .input-link{padding:0px;}
.cell .input-link span{margin-right:5px;}
