.title-container{position:static; display:table; width:100%; margin-bottom:25px;}
.title-container .title{display:table-cell; vertical-align:middle; text-align:left; font-size:30px; letter-spacing:-1px; color:$primary-color; font-weight:600;}
.title-container .title span{margin-right:7.5px;}
.title-container .title .subtitle{display:block; margin-top:5px; font-size:$desktop-font-size; color:$primary-color; letter-spacing:-0.25px;}
.title-container .buttons{display:table-cell; vertical-align:middle; text-align:right;}
.core .table + .title-container,
.core button + .title-container,
.core .grid + .title-container,
.core .search-results + .title-container,
.core .data-title + .title-container,
.core .input-container + .title-container,
.core .conjoin-input-containers + .title-container{margin-top:50px;}

/*
IMPORTANT NOTE:
In the future it will be possible to use the following
selector to add better gaps throughout the UI. As of October
2021 it is not yet supported by any browser. Once this gains
support, add the following selector to the title-container
margin-top batch above this comment.

.core div:has(.search-results) + .title-container{margin-top:50px;}
*/

@media (max-width:$iphone-width)
{
    .title-container .title{font-size:18px;}
}

.title-container .tabbed-buttons{display:table-cell; vertical-align:middle; text-align:left;}
.title-container .tabbed-buttons a{position:relative; display:inline-block; background:transparent; border:1px solid rgba($primary-color,0.5); border-right-width:0px; font-size:$desktop-font-size; white-space:nowrap; padding:15px; color:$primary-color;}
.title-container .tabbed-buttons a:first-of-type{border-radius:$border-radius 0px 0px $border-radius;}
.title-container .tabbed-buttons a:last-of-type{border-radius:0px $border-radius $border-radius 0px; border-right-width:1px;}
.title-container .tabbed-buttons a:hover,
.title-container .tabbed-buttons a:focus,
.title-container .tabbed-buttons a.active{background:$primary-color; color:$inverse-color;}
.title-container .tabbed-buttons a span{margin-right:5px;}
.title-container .tabbed-buttons a span:nth-child(2){margin-right:0px;}
.title-container .tabbed-buttons a .counter{float:right; display:inline-block; margin-left:7.5px; text-align:center; border-radius:9px; padding:0px 5px; min-width:11px; font-size:11px; height:23px; line-height:23px; font-weight:600; background:$primary-color; color:$inverse-color;}
.title-container .tabbed-buttons a:hover .counter,
.title-container .tabbed-buttons a:focus .counter,
.title-container .tabbed-buttons a.active .counter{background:$inverse-color; color:$primary-color;}

@media (max-width:$close-nav-width)
{
    .title-container .tabbed-buttons a{padding:10px; font-size:calc($desktop-font-size - 2px); text-align:center;}
    .title-container .tabbed-buttons a span:nth-child(1){display:block; margin-right:0px; margin-bottom:2.5px; font-size:20px;}
    .title-container .tabbed-buttons a span:nth-child(2){display:none;}
    .title-container .tabbed-buttons a .counter{font-size:9px !important; height:14px; line-height:14px;}
}

@media (max-width:$ipad-landscape-width)
{
    .title-container .tabbed-buttons a{font-size:$mobile-font-size;}
}

@media (max-width:$ipad-portrait-width)
{
    .title-container .tabbed-buttons a .counter{display:none !important;}
}

@media (max-width:$iphone-width)
{
    .title-container .tabbed-buttons a{font-size:calc($mobile-font-size - 2px);}
    .title-container .tabbed-buttons a span:first-of-type{font-size:16px;}
}

.data-title{display:table; width:calc(100% - 30px); background:$inverse-color; border-radius:$border-radius; padding:15px; margin-bottom:25px;}
.data-title .title-cell{display:table-cell; vertical-align:middle; text-align:left;}
.data-title .title-cell .title{display:block; font-size:20px; font-weight:600; color:$primary-color;}
.data-title .title-cell .subtitle{display:inline-block; font-size:14px; margin-top:10px; color:$primary-color;}
.data-title .title-cell a:hover{color:$deep-color;}
.data-title .title-cell span{margin-right:5px;}
.data-title .buttons{display:table-cell; vertical-align:middle; text-align:right;}

@media (max-width:$iphone-width)
{
    .data-title .title-cell .title{font-size:16px;}
    .data-title .title-cell .subtitle{font-size:12px;}
}
