*{margin:0px auto; border:0px; padding:0px;}

// This is for if you want dynamic colors
//$brand-color:var(--brand-color);
//$good-color:var(--good);
//$bad-color:var(--bad);

$brand-color:#5545E1;
$good-color:#32bd94;
$bad-color:#cc3939;
