*{margin:0px auto; border:0px; padding:0px;}

// This is for if you want dynamic colors
//$brand-color:var(--brand-color);
//$good-color:var(--good);
//$bad-color:var(--bad);

$brand-color:#dd4242;
$good-color:#dd4242;
$bad-color:#dd4242;
